[Unit]
Description=Check crawler FlareSolverr resources every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
RandomizedDelaySec=10s

[Install]
WantedBy=timers.target
