name: Build and Deploy Docker Image for Crawler

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - 'crawlers/**'
      - '.github/workflows/crawler-deploy.yaml'
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build crawler image on VM
        uses: appleboy/ssh-action@master
        env:
          DATABASE_HOST: ${{ secrets.DATABASE_HOST }}
          DATABASE_NAME: ${{ secrets.DATABASE_NAME }}
          DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
          DATABASE_USER: ${{ secrets.DATABASE_USER }}
        with:
          host: ${{ secrets.CRAWLER_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            set -e
            cd /home/crawler/build/geteverything
            
            echo "[1] git fetch & reset"
            git fetch origin
            git reset --hard origin/main
            
            
            if ! command -v envsubst >/dev/null 2>&1; then
              sudo apt-get update -y || sudo yum update -y || true
              sudo apt-get install -y gettext-base || sudo yum install -y gettext || true
            fi
            echo "[2] Dockerfile template작성"
            envsubst < crawlers/Dockerfile.template > crawlers/Dockerfile

            echo "[3] docker build (캐시 자동 사용)"
            docker build \
              -t crawler-image \
              -f crawlers/Dockerfile \
              .

            echo "이미지 빌드 종료"


      - name: Restart Docker Container
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.CRAWLER_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            cd /home/crawler/
            docker stop crawlers-bot 2>/dev/null || echo "crawlers-bot 컨테이너 없음, skip"
            docker rm crawlers-bot 2>/dev/null || echo "crawlers-bot 컨테이너 삭제할 것 없음, skip"
            docker run -d \
            --name=crawlers-bot
            --cpus="2" \
            --memory="12g" \
            -v /home/crawler/logs:/var/task/logs \
            crawler-image \
            sh -c "mkdir -p /var/task/logs && python -m crawlers.run_queue 2>&1 | tee -a /var/task/logs/crawler.log"

#            docker run --rm \
#            --env-file django.env \
#            my-django-app \
#            python manage.py migrate --noinput
#            docker stack rm django
#            rm crawler.tar

