name: Build and Deploy Docker Image for Django Server

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - 'gadmin/**'
      - '.github/workflows/deploy.yaml'
      - 'Dockerfile'
      - 'requirements.txt'
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4


      - name: Build django image on VM
        uses: appleboy/ssh-action@master
        env:
          DATABASE_HOST: ${{ secrets.DATABASE_HOST }}
          DATABASE_NAME: ${{ secrets.DATABASE_NAME }}
          DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
          DATABASE_USER: ${{ secrets.DATABASE_USER }}
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          envs: DATABASE_HOST,DATABASE_NAME,DATABASE_PASSWORD,DATABASE_USER
          port: 22
          script: |
            set -e
            cd /home/docker/django/deploy/geteverything
            
            echo "[1] git fetch & reset"
            git fetch origin
            git reset --hard origin/main
            
            
            if ! command -v envsubst >/dev/null 2>&1; then
              sudo apt-get update -y || sudo yum update -y || true
              sudo apt-get install -y gettext-base || sudo yum install -y gettext || true
            fi
            echo "[2] Dockerfile template작성"
            envsubst < gadmin/uwsgi.ini.template > gadmin/uwsgi.ini

            echo "[3] docker build (캐시 자동 사용)"
            docker build \
              -t my-django-app \
              -f Dockerfile \
              .

            echo "이미지 빌드 종료"

      - name: Generate .env in docker/django
        run: |
          cat > django.env << 'EOF'
          DATABASE_HOST=${{ secrets.DATABASE_HOST }}
          DATABASE_NAME=${{ secrets.DATABASE_NAME }}
          DATABASE_PASSWORD=${{ secrets.DATABASE_PASSWORD }}
          DATABASE_USER=${{ secrets.DATABASE_USER }}
          EOF

      - name: Copy docker.env to VM
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          source: "django.env"
          target: /home/docker/django/

      - name: Restart Docker Container
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            cd /home/docker/django
            docker run --rm \
            --env-file django.env \
            my-django-app \
            python /app/gadmin/manage.py migrate --noinput
            docker stack rm django
            docker stack deploy -c docker-compose.yml django
            
