name: Build and Deploy Docker Image

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker

      - name: Substitute variables in template
        uses: danielr1996/envsubst-action@1.1.0
        env:
          DATABASE_HOST: ${{ secrets.DATABASE_HOST }}
          DATABASE_NAME: ${{ secrets.DATABASE_NAME }}
          DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
          DATABASE_USER: ${{ secrets.DATABASE_USER }}
        with:
          input: gadmin/uwsgi.ini.template
          output: gadmin/uwsgi.ini

      - name: Generate .env in docker/django
        run: |
          cat > django.env << 'EOF'
          DATABASE_HOST=${{ secrets.DATABASE_HOST }}
          DATABASE_NAME=${{ secrets.DATABASE_NAME }}
          DATABASE_PASSWORD=${{ secrets.DATABASE_PASSWORD }}
          DATABASE_USER=${{ secrets.DATABASE_USER }}
          EOF

      - name: Build Docker image
        run: docker build -t my-django-app . --platform=linux/amd64

      - name: Save image as django.tar
        run: |
          docker save -o django.tar my-django-app

      - name: Copy docker.jar to VM
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          source: "django.tar,django.env"
          target: /home/docker/django/

      - name: Restart Docker Container
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            cd /home/docker/django
            docker load -i django.tar
            docker run --rm \
            --network django_default \
            --env-file django.env \
            django:latest \
            python manage.py migrate --noinput
            docker stack rm django
            docker stack deploy -c docker-compose.yml django
            rm django.tar
            
