name: Build and Deploy Docker Image

on:
  push:
    branches: [ main ]

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. 리포지토리 체크아웃
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Buildx 설치 및 설정
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker

      - name: Substitute variables in template
        uses: danielr1996/envsubst-action@1.1.0
        env:
          DATABASE_HOST: ${{ secrets.DATABASE_HOST }}
          DATABASE_NAME: ${{ secrets.DATABASE_NAME }}
          DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
          DATABASE_USER: ${{ secrets.DATABASE_USER }}
        with:
          input: gadmin/uwsgi.ini.template
          output: gadmin/uwsgi.ini

      # 3. Docker 이미지 빌드
      - name: Build Docker image
        run: docker build -t my-django-app . --platform=linux/amd64

      # 4. Docker 이미지를 docker.jar로 저장
      - name: Save image as django.tar
        run: |
          docker save -o django.tar my-django-app

      # 5. 아티팩트 업로드
      - name: Upload docker.jar artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: django.tar

      # 6. VM으로 파일 전송
      - name: Copy docker.jar to VM
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          source: django.tar
          target: /root/docker/django/

      - name: Restart Docker Container
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            cd docker/django
            docker load -i django.tar
            docker run --rm \
            --network django_default \
            --env-file .env \
            django:latest \
            python manage.py migrate --noinput
            docker stack rm django
            docker stack deploy -c docker-compose.yml django
            rm django.tar
            
