name: TEST

on:
  workflow_dispatch:

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: filesystem
        run: ls -l
      # 5. 아티팩트 업로드
      - name: Upload docker.jar artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: test.py

      # 6. VM으로 파일 전송
      - name: Copy docker.jar to VM
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          source: test.py
          target: /root/docker/django/

      - name: Restart Docker Container
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            ls -l
            
