name: TEST

on:
  workflow_dispatch:

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: debug ls
        run: |
          pwd
          ls -R
      - name: Copy file with raw scp
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
      
          scp -o StrictHostKeyChecking=no \
            test.py \
            ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/root/docker/django/    

      # 6. VM으로 파일 전송
      - name: Copy docker.jar to VM
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          source: test.py
          target: /root/docker/django/

      - name: Restart Docker Container
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            ls -l
            
